.search-bar {
  position: relative;
  width: 360px;
  height: 36px;
}

.search-bar input {
  width: 100%;
  height: 36px;
  padding: 1px 40px 1px 12px;
  border: 1px solid #CBD5E1;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: black;
  outline: none;
  box-shadow: 0px 1px 2px 0px #0000000D;
  box-sizing: border-box;
}

.search-bar input::placeholder {
  color: #CBD5E1;
  font-weight: 500;
}

.search-bar input:focus {
  border-color: #1a73e8;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 45%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  color: #667085;
}
