.app {
  min-height: 100vh;
  background:#F1F3F8;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 120px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #0F172A;
  line-height: 30px;
  margin-bottom: 20px;

}

.container {
  background-color: #FFFFFF;
  padding: 16px 12px;
  border: 0.5px solid #CBD5E1;
  border-radius: 6px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 16px;
}

.toolbar-actions {
  display: flex;
  gap: 12px;
}

.btn-add {
  padding: 8px 20px;
  background: #006EFA;
  color: #fff;
  border: 1px solid #006EFA;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
